<html>
    <head>
        <title>
            login failed
        </title>
        <style type="text/css">
            .main{
                width: 600px;
                height: 200px;
                margin: auto;
                background-color: rgb(230, 230, 62);
                color:  black;
                align-items: center;
                justify-content: center;
                margin-top: 200px;
                border-radius: 12px;
                padding: 5px;
            }
            body{
                background-color: rgb(174, 174, 43);
            }
        </style>
    </head>
    <body style="text-align: center;">
        <div class="main">
            <h1>
                Sorry, unrecognized credentials.<br>
            </h1><br>
            <h2>If you don't have account <a href=/register>Register here</a></h2>
        </div>
    </body>
</html>